@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

*{
  font-family: 'Raleway', sans-serif;
margin:0;
padding: 0;
box-sizing: border-box;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}

.navbar{
  background-color:#bd6021;
  color: #fff;
  

  
}
.navcolor{
  background-color: #bd6021;
}

.navbar-brand{
  font-size: 1.9rem;

  
}
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar ul {
  text-align: center;
  justify-content: center;
  list-style: none;
}


